/* ************************************************************************** */
/*                                                                            */
/* Versions                                                                   */
/*                                                                            */
/* 2018-05-22 0.10 kdk First version with Version information + license text  */
/* 2018-05-22 0.11 kdk With debugoutputpar                                    */
/* 2018-06-26 0.12 kdk With IValbums                                          */
/* 2019-02-09 0.13 kdk Also adapted for koeth.cloud                           */
/* 2019-03-11 0.14 kdk With input IVAlbumsCreate                              */
/* 2019-05-05 0.15 kdk With adaption to Mosaic+                               */
/* 2020-03-01 0.16 kdk IVtext changed from id to class                        */
/* 2020-03-11 0.17 kdk IValbumsChar added and some formatting                 */
/* 2020-11-04 0.18 kdk IValbumsChar changed                                   */
/* 2020-11-08 0.31 kdk IVImage changed from id to class                       */

/*
#
# MIT license (MIT)
#
# Copyright 2018 Karsten Köth
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#
*/

/* Farbschemata: ************************************************************ */

.primarycolor{      background-color:rgb(137, 196, 244)}
.darkprimarycolor{  background-color:rgb(65, 94, 116)}
.lightprimarycolor{ background-color:rgb(212, 231, 246)}
.accentcolor{       background-color:rgb(108, 155, 193)}

/* Flex Box Preparation ***************************************************** */

section {
  display: flex;
  flex-direction: row;
}

p            { font-family: sans-serif; font-weight:bold; width: 100%; text-align:center; font-size:  12px; }
h1           { font-family: sans-serif; font-weight:bold;                                                   }
h2           { font-family: sans-serif; font-weight:bold;                                                   }
h3           { font-family: sans-serif; font-weight:bold;                                                   }
h4           { font-family: sans-serif; font-weight:bold;                                                   }
#Uhr         { font-family: sans-serif; font-weight:bold; width: 100%; text-align:center; font-size: 100px; }
#debugoutput { font-family: monospace;                                                    font-size:  10px; }

/* unvisited link */
a:link    { text-decoration: none; color: black; }
/* visited link */
a:visited { text-decoration: none; color: black; }
/* mouse over link */
a:hover   { text-decoration: none; color: rgb(212, 231, 246); } /* lightprimarycolor TODO make it right */
/* selected link */
a:active  { text-decoration: none; color: black; }

#IVlabel {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.IVtext {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

#IVpool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.IVimage {
  width: 320px;
  height: 320px;
  padding: 20px;
  text-align: center;
}

.IVdocument {
  margin: 0px;
  background-color: rgb(137, 196, 244);
}

.IVheader {
  background-color: rgb(137, 196, 244);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.IVbody {
  margin: 10px;
}

.IValbums {
  background-color: rgb(65, 94, 116);
  height: 32px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.IValbumsDiv {
  margin-right: 20px;
}

.IValbumsText {
  background-color: rgb(212, 231, 246);
  border-radius: 25px;
  margin: 5px;
  font-size: 10px;
  font-weight: normal;
  padding: 5px;
  cursor: pointer;
}

.IValbumsCreate {
  background-color: rgb(212, 231, 246);
  border-radius: 250px;
  margin: 5px;
  font-size: 10px;
  font-weight: normal;
  padding: 5px;
  cursor: text;
  border: none;
  outline: none;
}

.IValbumsChar {
  background-color: rgb(108, 155, 193);
  border-radius: 25px;
  margin: 5px;
  width: 2em;
  max-width: 4em;
  font-size: 10px;
  font-weight: bold;
  color: rgb(212, 231, 246);
  padding: 5px;
  cursor: text;
  border: none;
  outline: none;
}

.IVnav {
  background-color: rgb(137, 196, 244);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.IVcode {
  font-family: 'Lucida Console', monospace;
  font-weight: normal;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.IVinputnumber {
  margin-bottom: 4px;
  margin-top: 4px;
}

.IVdelimiter {
  margin-bottom: 4px;
  margin-top: 14px;
}

#IVbutton {
  border-radius: 0px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  cursor: pointer;
  width: 120px;
  background: linear-gradient(180deg, #fff 0%, #fff 0%, #e6e6e6 100%, #e6e6e6 100%);
}

.IValbumsOverview {
  background-color: rgb(65, 94, 116);
  height: 64px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

#debugoutputpar {
  font-size: 10px;
}

.impressum {
  font-size: 10px;
  text-align: left;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: red; */
  background-color: rgb(65, 94, 116);
}

.conti {
  /* background-color: orange; */
  /* background-color:rgb(108, 155, 193); */
  background-color: rgb(65, 94, 116);
  margin: 0px;
  width: 320px;
  padding: 5px;
  text-align: center;
}

.MosaicPlus {
  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  letter-spacing: 0;
  margin: 0px;
  padding: 0px;
  /* -webkit-font-smoothing: antialiased; */
}
